<!doctype html>
<html lang="en">
  <head>
  {% block head %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--icon on tab of website-->
  <link rel="icon" href="static/img/icon/car.svg">
  <ion-icon name="car-outline"></ion-icon>
  <!--main css-->
  <link href="{{ url_for('static', filename='main.css')}}" rel="stylesheet" >

  <!--IconLibrary-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">

    
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

  <title>{% block title %}{% endblock %} Hello, world!</title>
  {% endblock %}
  </head>
	
<!--NavBar-->


<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
<span class="navbar-brand" href="#" > <img class="img-fluid" src="static/img/logo.png" width="120" height="90" alt="logo"></span>
      
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="#"><p class="fw-bold">Home</p></a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#services"><p class="fw-bold">Services</p></a>
		    <a class="me-3 py-2 text-dark text-decoration-none" href="#contact us"><p class="fw-bold">Request a Quote</p></a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#contact us"><p class="fw-bold">Contact Us</p></a>
      </nav>
    </div>
<!--EndNavBar--> 
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
{% block content %}{% endblock %}
  <div id="content">
	 <div id="footer"> 
	     {% block footer %}
	   <footer class="footer">
        <div class="py-5 text-center container pt-1" >
     
  <span class="navbar-brand" href="#" > <img class="img-fluid" src="static/img/logo.png" width="120" height="90"alt="logo"></span>
      
          <p>©  Espinola's Remodeling &nbsp;&nbsp;Author: EWEBWORKS</p>
		       <p >
         
          <a href="#">Back to top</a>
        </p>  
      </div>
     </footer>
		  {% endblock %}