{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}   
  {{ super() }}


{% endblock %}

{% block content %}


    <!-- Custom styles for this template 
    <link href="pricing.css" rel="stylesheet">
 -->
  <body>
 
<!--carousel-->
<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
      <img class="bd-placeholder-img"  src="static/img/jobs/kitchen/mainpicture2.png" width="100%" height="100%" alt="logo">
   

        <div class="container">
          <div class="carousel-caption ">
			  <h1  class="fs-1">Residential and Commercial Remodeling</h1>
            <p>Let us help you turn your idea into a reality. </p>
            <p><a class="btn btn-lg btn-primary" href="#contact us">GET A FREE ESTIMATE</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        
      <img class="bd-placeholder-img"  src="static/img/jobs/D.JPG" width="100%" height="100%" alt="logo">
   

        <div class="container">
          <div class="carousel-caption">
            <h1  class="fs-1">Interior Remodeling</h1>
            <p>Drywall repair | Texture removal & application | Paint | etc..   </p>
            
            <a class="btn btn-lg btn-primary" href="tel:(512)621-3438" > <i class="bi bi-telephone">CALL:(512)621-3438</i> </a>
            
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="bd-placeholder-img"  src="static/img/jobs/home_additions/IMG_0209.jpeg"width="100%" height="100%" alt="logo">
   

        <div class="container">
          <div class="carousel-caption ">
			  <h1  class="fs-1">Exterior Remodeling</h1>
            <p>Siding | Paint | Stone Works | Door & Windows Installation | etc..   </p>
            <a class="btn btn-lg btn-primary" href="#contact us"><i class="bi bi-envelope">espinolasremodeling@gmail.com</i></a>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Marketing messaging and featurettes
  ================================================== -->

    
<!--services-->
  <section class="py-5 text-center container" id="services">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1  class="fs-1" style="color:black;">OUR SERVICES</h1>
        <p class="lead text-muted">We offer a range of remodeling services. We are happy to help you remodel any room in your home. Give us a call today to find out what we can do for you!</p>
        <p>
          <a href="#contact us" class="btn btn-primary my-2">GET A FREE ESTIMATE</a>
          
        </p>
      </div>
    </div>


  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
         <div class="col">
          <div class="card shadow-sm">
		    <img class="bd-placeholder-img"  src="static/img/jobs/kitchen/mainpicture2.png" width="100%" height="100%" alt="logo">
            <div class="card-body">
			  <b class="card-text" style="color:black;">Kitchen Remodeling</b>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Countertops installation</li>
            <li class="list-group-item">Back splash </li>
            <li class="list-group-item">Lighting</li>
            <li class="list-group-item">Cabinets installation</li>
            <li class="list-group-item">Appliance installation</li>
          </ul>
				<a href="/kitchen_remodeling" class="btn btn-secondary my-2">VIEW MORE</a>
              <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
		    <img class="bd-placeholder-img"  src="static/img/jobs/bathroom/7.jpeg" width="100%" height="100%" alt="logo">
            <div class="card-body">
                <b class="card-text" style="color:black;">Bathroom Remodeling</b>
				          <ul class="list-group list-group-flush">
                    <li class="list-group-item">Tub removal & installation</li>
                    <li class="list-group-item">Floor and wall tile</li>
                    <li class="list-group-item">Water proofing walls & floors</li>
                    <li class="list-group-item">Plumbing</li>
                    <li class="list-group-item">Lighting</li>
                  </ul>
				<a href="/bathroom_remodeling" class="btn btn-secondary my-2">VIEW MORE</a>
              <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img"  src="static/img/jobs/kitchen/mainpicture2.png" width="100%" height="100%" alt="logo">
            <div class="card-body">
		      <b class="card-text" style="color:black;">Flooring</b>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Tile </li>
              <li class="list-group-item">Hardwood</li>
              <li class="list-group-item">Laminate</li>
              <li class="list-group-item">Vinyl</li>
              <li class="list-group-item">Carpet</li>
            </ul>
				<a href="/flooring" class="btn btn-secondary my-2">VIEW MORE</a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
			<img class="bd-placeholder-img"  src="static/img/jobs/roofing/IMG_0163.jpeg" width="100%" height="100%" alt="logo">
            <div class="card-body">
              <b class="card-text" style="color:black;">Roofing</b>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Roof installation</li>
                  <li class="list-group-item">Roof leak repair</li>
                  <li class="list-group-item">Shingles</li>
                  <li class="list-group-item">Metal</li>
                  <li class="list-group-item">Spanish roof</li>
                </ul>
				<a href="/roofing" class="btn btn-secondary my-2">VIEW MORE</a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
			<img class="bd-placeholder-img"  src="static/img/jobs/home_additions/IMG_0209.jpeg" width="100%" height="100%" alt="logo">
            <div class="card-body">
			  <b class="card-text" style="color:black;">Home Additions</b>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Countertops installation</li>
            <li class="list-group-item">Framing </li>
            <li class="list-group-item">Drywall</li>
            <li class="list-group-item">Paintn</li>
            <li class="list-group-item">Electrical</li>
          </ul>
				<a href="/home_additions" class="btn btn-secondary my-2">VIEW MORE</a>
			  <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img"  src="static/img/jobs/painting/internet.jpg" width="100%" height="100%" alt="logo"><div class="card-body">
               <b class="card-text" style="color:black;">Painting</b>
                 <ul class="list-group list-group-flush">
                   <li class="list-group-item">Interior/exterior</li>
                   <li class="list-group-item">Wood stain </li>
                   <li class="list-group-item">Fences</li>
                   <li class="list-group-item">Cabinets repainting</li>
                   <li class="list-group-item">Appliance installation</li>
                  </ul>
			  <a href="/painting" class="btn btn-secondary my-2">VIEW MORE</a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        
      </div>
    </div>
  </div>
</section>
<!--services end-->
<!--why choose us-->
<section class="py-5 text-center container" id="why choose us">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1  class="fs-1" style="color:black;">WHY CHOOSE US</h1>
       </div>
    </div>
  <div class="container marketing">
<!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
		<h1  style="color:black;" class="bi bi-check-square"></h1>  
        <b  style="color:black;">SATISFACTION GUARANTEE</b>
        <p  style="color:black;">Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
      </div>
      <div class="col-lg-4">
      	<h1  style="color:black;" class="bi bi-hammer"></h1>
        <b  style="color:black;">A ONE-STOP SHOP</b>
        <p  style="color:black;">Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
		<h1  style="color:black;" class="bi bi-chat-left-text"></h1>
        <b  style="color:black;">FREE CONSULTATION</b>
        <p  style="color:black;">And lastly this, the third column of representative placeholder content.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
	
<!--contact us-->
<section id="contact us">

  <h1 style="color:black;" class="fs-1">CONTACT US</h1>
    <p  style="color:black;" >Enter your information below and we will contact you as soon as we can.</p>
<br/>
<form method="POST">
  <div class="row">
  <div class="col">
	{{form.hidden_tag()}}
	{{form.name.label}}
	{{form.name(class="form-control")}}
    
    </div>
     <div class="col">
  {{form.hidden_tag()}}
	{{form.email.label}}
  {{form.email(class="form-control" )}}
      </div>
</div>
    <div class="mb-3">
  {{form.hidden_tag(name)}}
	{{form.message.label}}
  {{form.message(class="form-control" )}}
      </div>
<div>
	<br/>
	{{form.submit(class="btn btn-lg btn-primary")}}
  <div>
  <br/>
  <p><a class="btn btn-lg btn-secondary" href="#">CALL:(512)621-3438</a></p>
</div>
  </div>
</form>
    </section>

<section id="Reviews" class="py-5 text-center container" >

<p>Thanks for being a valued customer. I just signed up on Thumbtack to find more excellent customers like you, and reviews are a big part of my profile. Can you take a moment to write a couple sentences about working with me? I’d love if my future customers could hear about your experience firsthand.</p>

  <p>Thanks, Espinola’s Remodeling</p>
  <a href="https://www.thumbtack.com/reviews/services/322335655435550764/write" class="btn btn-lg btn-secondary"  role="button">Write a Review</a>



</section>	   
<section class="py-5 text-center container" >
	 


<div class="list-group">
  <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">

    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">Evan P.    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h6>
        <p class="mb-0 opacity-75">Home Remodeling
Miguel did an amazing job on our project. What was once a useless bathroom storage area is now a custom closet with shelving and drawers!

We could not be happier with how it turned out.

Miguel does quality work, is prompt, professional, and easy to communicate with. We will be hiring him on future projects, for sure!</p>
      </div>
      <small class="opacity-50 text-nowrap">Oct 2, 2021
</small>
    </div>
  </a>
  <a  class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">Trev R.    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h6>
        <p class="mb-0 opacity-75">Tile Installation and Replacement for $1k-2k
Our kitchen backsplash looks amazing.  I would gladly go with Espinola's Remodeling again with hesitation.  The price was right, the crew worked super hard and the results were on point.  They were even patient with me when I rescheduled on them twice.  This will be my go to business for future remodeling.</p>
      </div>
      <small class="opacity-50 text-nowrap">May 12, 2021
</small>
    </div>
  </a>
  <a  class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">Abby C.    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h6>
        <p class="mb-0 opacity-75">Tile Installation and Replacement
Miguel and his team just finished tiling our master bathroom! From the time I reach out for a quote until the time he finished he was quick to respond, pleasant to work with and provided quality work at a great price. We have already recommend him to a friend and look forward to working with him again soon.</p>
      </div>
      <small class="opacity-50 text-nowrap">Jan 8, 2021
</small>
    </div>
  </a>
</div>
 <a  class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">Dean a.    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h6>
        <p class="mb-0 opacity-75">Tile Installation and Replacement
Miguel and his team were amazing!!! Cannot recommend them enough. Looking forward to working with them again soon..</p>
      </div>
      <small class="opacity-50 text-nowrap">3d</small>
    </div>
  </a>
   <a  class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">Camilla H.    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h6>
        <p class="mb-0 opacity-75">Bathroom Remodel
Miguel just finished remodeling 2 full baths. We are very happy with the end result. He always showed up on time, stayed on budget (even though we kept changing our minds) and came back to fix a leaky shower head.</p>
      </div>
      <small class="opacity-50 text-nowrap">Oct 20, 2020</small>
    </div>
  </a>
    </section>
<section id="payments" class="py-5 text-center container" >
<h1 style="color:black;" class="fs-1">PAYMENT METHODS ACCEPTED
 </h1>
  <h4> CASH | CHECK | CREDIT CARD | PAYPAL | ZELLE </h4>
    </section>
 
{% endblock %}

