{% extends "base.html" %}
{% block title %}Home Additions{% endblock %}
{% block head %}   
  {{ super() }}


{% endblock %}

{% block content %}

    
		
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading" style="color:black;" >KITCHEN REMODELING</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
   </div>
</section>

 <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
         <div class="col">
          <div class="card shadow-sm">
		    <img class="bd-placeholder-img"  src="static/img/jobs/kitchen/mainpicture2.png" width="350" height="300" alt="logo">
             <div class="py-5 text-center container pt-1">
			  <div class="card-body">
				
			  <b class="card-text" style="color:black;">Kitchen Remodeling</b>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Countertops installation</li>
            <li class="list-group-item">Back splash </li>
            <li class="list-group-item">Lighting</li>
            <li class="list-group-item">Cabinets installation</li>
            <li class="list-group-item">Appliance installation</li>
          </ul>
				<a href="/kitchen_remodeling" class="btn btn-dark my-2">VIEW MORE</a>
              <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
        </div>
		  </div>
        <div class="col">
          <div class="card shadow-sm">
		    <img class="bd-placeholder-img"  src="static/img/jobs/bathroom/7.jpeg"  width="350" height="300" alt="logo">
			  <div class="py-5 text-center container pt-1">
            <div class="card-body">
                <b class="card-text" style="color:black;">Bathroom Remodeling</b>
				          <ul class="list-group list-group-flush">
                    <li class="list-group-item">Tub removal & installation</li>
                    <li class="list-group-item">Floor and wall tile</li>
                    <li class="list-group-item">Water proofing walls & floors</li>
                    <li class="list-group-item">Plumbing</li>
                    <li class="list-group-item">Lighting</li>
                  </ul>
				<a href="/bathroom_remodeling" class="btn btn-dark my-2">VIEW MORE</a>
              <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
        </div>
		  </div>
		  
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img"  src="static/img/jobs/flooring/52.jpeg"  width="350" height="300" alt="logo">
			  <div class="py-5 text-center container pt-1">
            <div class="card-body">
		      <b class="card-text" style="color:black;">Flooring</b>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Tile </li>
              <li class="list-group-item">Hardwood</li>
              <li class="list-group-item">Laminate</li>
              <li class="list-group-item">Vinyl</li>
              <li class="list-group-item">Carpet</li>
            </ul>
				<a href="/flooring" class="btn btn-dark my-2">VIEW MORE</a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
		  </div>
        <div class="col">
          <div class="card shadow-sm">
			<img class="bd-placeholder-img"  src="static/img/jobs/roofing/IMG_0163.jpeg"  width="350" height="300" alt="logo">
			  <div class="py-5 text-center container pt-1">
            <div class="card-body">
              <b class="card-text" style="color:black;">Roofing</b>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Roof installation</li>
                  <li class="list-group-item">Roof leak repair</li>
                  <li class="list-group-item">Shingles</li>
                  <li class="list-group-item">Metal</li>
                  <li class="list-group-item">Spanish roof</li>
                </ul>
				<a href="/roofing" class="btn btn-dark my-2">VIEW MORE</a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
		  </div>
         <div class="col">
          <div class="card shadow-sm">
			<img class="bd-placeholder-img"  src="static/img/jobs/home_additions/IMG_0209.jpeg"  width="350" height="300" alt="logo">
			  <div class="py-5 text-center container pt-1">
            <div class="card-body">
			  <b class="card-text" style="color:black;">Home Additions</b>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Countertops installation</li>
            <li class="list-group-item">Framing </li>
            <li class="list-group-item">Drywall</li>
            <li class="list-group-item">Paintn</li>
            <li class="list-group-item">Electrical</li>
          </ul>
				<a href="/home_additions" class="btn btn-dark my-2">VIEW MORE</a>
			  <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
		  </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img"  src="static/img/jobs/painting/internet.jpg"  width="350" height="300" alt="logo"><div class="card-body">
			  <div class="py-5 text-center container pt-1">
               <b class="card-text" style="color:black;">Painting</b>
                 <ul class="list-group list-group-flush">
                   <li class="list-group-item">Interior/exterior</li>
                   <li class="list-group-item">Wood stain </li>
                   <li class="list-group-item">Fences</li>
                   <li class="list-group-item">Cabinets repainting</li>
                   <li class="list-group-item">Appliance installation</li>
                  </ul>
			  <a href="/painting" class="btn btn-dark my-2">VIEW MORE</a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
		  </div>
        
      </div>
    </div>
  </div>
<section class="jumbotron text-center">
  <p>
  <a href="#" class="btn btn-secondary my-2">Back to top</a>
  <a href="/" class="btn btn-warning my-2">Home page</a>
  </p>
</section>
      <
		   


{% endblock %}