{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}   
  {{ super() }}


{% endblock %}

{% block content %}


<h1> Thank you for contacting us! We will contact you as soon as we can.</h1>
		  
<div class="jumbotron text-center">
	<h2>You can also get in touch with us via phone call or text</h2>
  <p> <a class="btn btn-lg btn-secondary" href="#">CALL:(512)621-3438</a></p>
</div>
 <section class="jumbotron text-center">
		   <p>
             <a href="/" class="btn btn-primary my-2">Home page</a>
          </p>
		  </section>

{% endblock %}